body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #919191;
}

nav a{
    color: #919191;
}

nav a:hover{
    color:orange;
}

.first-content img{
    width: 100%;
    height: 315px;
}

.thu{
    position: relative;
}

.anh img{
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 0;
}

.chu {
    z-index: 1;
}